aside {
    position: fixed;
    height: 100%;
    padding: 32px 24px;
    background: linear-gradient(329.54deg, #15B6D6 0%, #15D6D6 100%);
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  aside .app-sidebar img {
    width: 48px;
    
  }
  #logoHappy{
    box-shadow: 0px 0px 10px rgba(0,0,0, 1);
  }
  aside .app-sidebar footer{
    width: 100%;
  }

  aside .app-sidebar footer a,
  aside .app-sidebar footer button {
    width: 0px;
    height: 60px;
  
    border: 0;
  
    background-color: #12AFCB;
    border-radius: 16px;
  
    cursor: pointer;
  
    transition: background-color 0.2s;
  
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;  
  }
  
  aside .app-sidebar footer a:hover,
  aside .app-sidebar footer button:hover {
    background: #17D6EB;
  }
  
  #go-back-button{
    width: 60px;
    height: 50px;
    background-color: #17D6EB;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 10px rgba(0,0,0, .16);
  }

  #go-back-button:hover{
    background-color: #1fe9ff;
  }