.input-data span:first-child{
    font-size: 10px;
    color: #000;
}

.input-data p{
    color: #8FA7B2;
    margin-top: 10px;
}

button{
    width: 100%;
    height: 80px;
}

.login-container .right-panel .form-content .input-data span{
    font-size: 16px;
}

.login-container .right-panel .form-content .input-data .activeInput{
    border: 1px solid #37C77F;
}


.login-container .right-panel .form-content button{
    transition: background-color .5s ease;
}

.login-container .right-panel .form-content button:hover{
   background-color: #80c0a0;
}


*:focus {
    outline: 0 !important;
}

.login-container .right-panel .form-content .input-data input{
    height: 70px;
}


.login-container .right-panel .form-content .activeButton{
    background-color: #37C77F;
}

#novaSenha{
    width: 100%;
    height: 80px;
}
